body {
  margin:0;
  padding:0;
  font-family:Sans-Serif;
  background-size: cover;
  background-color:#bbbbbb;

}

#reg{

  position:absolute;
  top:50%;
  left:50%;
  margin-top: -400px;
  margin-left:-380px;
  transform:translate(50%,50%);
  width: 400px;
  padding:40px;
  backgroud:rgba(0,0,0,.9);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0,0,0,.9);
  border-radius: 10px;

}

 img{
    margin: 120px;
    margin-top: 5px;
   margin-bottom: 5px;
    color: #fff;
     text-align: center;
}


#reg input{
  width: 100%;
  padding:10px 0;
  font-size:16px;
  color:#fff;
  margin-bottom: 30px;
  border:none;
  border-bottom: 1px solid #000000;
  outline:none;
  background: transparent;

}
#reg label{
  position:relative;
  top:0;
  left:0;
  padding: 10px 0;
  font-size:16px;
  color:#000000;
  pointer-events: none;
  transition:.5s;

}
#reg input:focus~label{

  top:-18px;
  left:0;
  color:#03a9f4;
  font-size:12px;
}

h1{
  text-align: center;
}

a{
    display:flex;
    justify-content: flex-end;
    margin-top:-50px;
    margin-right: 10px;
  text-decoration: none;
}

#check{
      margin-top:-50px;
    transform:translate(50%,-150%);


}

#myForm{
      transform:translate(1%,-150%);


}


#messages {
    position: absolute;
    width: 30%;
    float: right;
    background-color: #777;
    border:1px solid black;
    transform: translate(0%,-10%);
}
