<!DOCTYPE html>
<html lang="en">
<head>

    <link rel="stylesheet" type="text/css" href="../CSS/about.css">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<img src="../img/me.png" alt="Girl in a jacket" width="200" height="300">
<a href="index.html">Menu</a>

<h4>About me</h4>

<p class="hii">Student Im bereich IngenieurWissenschaften, Angewandte Informatik-Ing.-o.Med.inf an der Universität Duisburg-Essen</br>
    E-Mail:yvan.mbami-teukwa@stud.uni-due.de</p>

<h1>Experience</h1>

<p><strong>Working Student,Tel Inform,Kleve Germany</strong></p>

<p>Call Center</p>

<p>Mai 2018 to present</p>

<h2>Praxisprojekt,Universität Duisburg-Essen</h2>
<p class="info"> Information Nutrition Labels meet IR</p>


<h1 id="edu">Education</h1>
<p class="note">Angewandte Informatik, Bachelor of Science
Universität Duisburg-Essen, 2017-2021</p>
<footer>
    <p><strong> Yvan Mbami </strong></p>

</footer>

</body>
</html>


<!--Lebenslauf
Geburtsdatum		03.06.1993
Geburtsort			Douala/ Kamerun
Nationalität			Kameruner

SCHUL –UND BERUFSBILDUNG
10/2015 - Heute	Universität Duisburg-Essen					               Bachelorstudium Angewandte Informatik

01/2015- 12/2016		 Universität Duisburg-Essen
                                                Studienvorbereitender Sprachkurs, Niveau DSH-3(C1)


09/2012- 07/2013		Gymnasium Ndogpassi, Duala Kamerun
Abitur Schwerpunkt: Mathematik Und Naturwissenschaften

BERUFSERFAHRUNG
17/07/2017 - 29/04/201           Deutsche Telekom IT GmbH, Essen
                                                Studentischer  Mitarbeiter Schaltmonteur

06/05/2016- 14/09/2016	 VOLKSWAGEN AG
                                                            Studentischer Mitarbeiter Produktion

10/2015 - 12/2015		 Amazon Fullfilment GmbH, Rheinberg
 Studentische Mitarbeiter Warensendung


03/2018-Heute	tel-inform customer solutions GmbH
                       Werkstudent als Call center in business Service/Weigth Watchers


KENNTNISSE UND FÄHIGKEITEN
Sprachen			Französisch, Medumba,Yemba (Muttersprachen)							Englisch (Anfänger: Beginner)									Deutsch (fließend)
EDV Kenntnisse		MS Office (Excel, Word, PowerPoint)								Grundlegende Programmierkenntnisse

Programmierung                  Python,Javascript
Webtechnologien                  HTML5, CSS3
INTERESSEN	Musik, Fußball, Lesen, Reisen
Duisburg, 17.02.2018                                                                                                               Yvan Mbami Teukwa

-->