<!DOCTYPE html>
<html lang="de">
<head>

    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../CSS/chat.css">

    <title>Title</title>

</head>


<body>


<a id="logo" href="login.html"> <img src="logo.jfif" alt="Girl in a jacket" width="20" height="20"> Log-In</a>

<a class="cm-comment" href="index.html">Menu</a>

<form id="edit" action="comment" method="post">

<label for="comment">Send your comment her:</label>


<textarea id="comment" name="comment" rows="4" cols="50" placeholder="Describe yourself here..."> </textarea>

<input type="button" id="send" value="send your message">

</form>

<form id="search">

     <input type="search" id="searche" value="Search">
    <input type="button" id="suchen" value="suchen">

</form>


<div id="essai"></div>

<div id="messages"></div>

<script src="../JS/index.js"></script>
</body>
</html>