<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Les boites de dialogue</title>
</head>
<body>
<a onclick="return confirm('Etes-vous sûr de vouloir supprimer cet article ?')" href="https://believemy.com">Supprimer cet article</a>

<button onmouseover="document.body.style.backgroundColor='orange'"
        onmouseout="document.body.style.backgroundColor='white'">Passez au-dessus de moi</button>


<script src="../JS/var.js"></script>
</body>
</html>