<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../CSS/register.css">

    <meta http-name="viewport" content="width=device-width,initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Title</title>
</head>
<body>


<h1 id ="hello"> register her please </h1>
<select id="color-change">
              <option value="black">Black</option>
              <option value="red">Red</option>
              <option value="blue">Blue</option>
              <option value="green">Green</option>
              <option value="#bbbbbb">clair</option>
          </select>


<a href="index.html"> Homepage</a>

<form action="/register" id="reg" method="post">

  <label for="username">Username:</label><br>
  <input type="text" id="username" name="username"><br><br>

  <label for="email">Email:</label><br>
  <input type="text" id="email" name="email"><br><br>

    <label for="pwd">Password:</label><br>
  <input type="password" id="pwd" name="pwd" autocomplete="on"><br><br>
    <input id="check" type="checkbox">

    <!--<input type="submit" value="Submit">-->

  <button id="myForm">Register</button>
</form>
<p class="result" style="color:green"></p>
<!--<script src="../JS/main.js"></script>-->
<script src="../JS/Mains.js"></script>

</body>
</html>