<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type ="text/css" href="../CSS/meteo.css"/>

    <title>Title</title>
</head>
<body>

<h1> Welcome to my website </h1>
<span id="user"> </span>

<p> you can see the weather her</p>

<div id="logout">

    <img id="log" src="logo.jfif" alt="Girl in a jacket" width="20" height="20"> Log-Out

</div>

<div class="container">

    <div class="row justify-content-center">

        <div class="col-md-8">
            <!-- Titre -->
            <h1 class="text-center mt-5">Météo</h1>

            <!-- Ville / Temperature -->
            <div class="text-center">
                <span id="ville">paris</span>

                <div id="temperature">
          <span id="temperature_label">
            xx.x
          </span> °C
                </div>
            </div>
        </div>

    </div>

    <div class="row justify-content-center">
        <div class="col-md-8 text-center">
            <!-- Changer de ville -->
            <div id="changer" class="mt-2 text-center p-3 text-white font-weight-bold text-uppercase d-inline-block">
                Change the city
            </div>
        </div>

    </div>

</div>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8 mt-5 text-center">
            <h1>Welcome back </h1>
            <p class="mt-3">this page is still in construction but you can at least change the theme her.</p>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-md-8 mt-5 text-center">
            <button id="mode">
                <i class="fas fa-moon"></i>
                <span>Thème sombre</span>
            </button>
        </div>
    </div>
</div>

<script src="../JS/meteo.js"></script>


</body>
</html>